
.outter__card{
	width: auto;
	height: 25vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: url("background.jpg");
	overflow: hidden;
  margin-top: 10%;

}
.card_subject {
  display: grid;
  grid-template-columns: 100px;
  grid-template-rows: 10px 10px 90px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  text-align: center;

  
  transition: 0.5s ease;
  cursor: pointer;
  margin:30px;

}
.card_horzondal {
  display: grid;
  height: 10%;

  grid-template-rows: 10px 10px 90px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: roboto; 
  transition: 0.5s ease;
  cursor: pointer;
  margin:30px;


}
.card-image {
  grid-area: image;
  background: url("img1.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card-text {
  grid-area: text;
  margin: 25px;
}
.card-text .date {
  color: rgb(255, 7, 110);
  font-size:13px;
}
.card-text p {
  color: grey;
  font-size:15px;
  font-weight: 300;
}
.card-text h2 {
  margin-top:0px;
  font-size:28px;
}
//
.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding:10px;
}
.card-stats .type{
	font-size: 11px;
	font-weight: 300;
	text-transform: uppercase;
}
.card-stats .value{
	font-size: 22px;
	font-weight: 500;
}
.card-stats .border{
	border-left: 1px solid rgba(172,26,87);
	border-right:1px solid rgba(172,26,87); 
}
.card-stats .value sup{
	font-size: 12px;
}
.card_subject:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  margin-top: 25%;


}

.content{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  margin-top: 65%;
  font-family: Garamond;
  font-weight: bold;


}
.contentA{
  height: 50% !important;
  margin-left: 5%;
  margin-right: auto;
  width: auto;

  font-family: Garamond;
  font-weight: bold;
  margin-top: 5% !important;
  text-align: center;


}
.row {
  width: 100%;
}

.vector{
  height: 60vh;
  width: 70vh;
  margin-left: 10%;
  margin-right: 70%;
  margin-top: 10% !important;
  margin-bottom: 30% !important;

}
.text{
  margin-top: 3%;
  font-family: Garamond;
  font-weight: bold;
  text-align: center;
  margin-left: 10%;
  font-size: 20px;
  

}
.icon{
  margin-top: 4%;
  margin-left: 12%;
  width: 8%;

}
.btn{
  /*margin-left: 90%;
  margin-top: -6%;*/
  float: right;
  color:orange !important;

}
.textp{
  margin-left: 19%;
  font-size: 20px;
  margin-top: 1%;
  font-family: Garamond;
  font-weight: bold;
  text-align: center;
  margin-right: 10%;

}
.card_course{
  display: grid;
  height: 13%;

  grid-template-rows: 10px 10px 90px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: roboto; 
  transition: 0.5s ease;
  cursor: pointer;
  margin:30px;
  margin-right: 15%;
  margin-left: -4%;

}
.title{
  margin-left: -5%;
  font-size: 30px;
}
.media{
  margin-left: 10%;
  margin-bottom: 50%;
  margin-top: 3% !important;
}
@media screen and (max-width: 768px){
  .media{
    width: 50% !important;
  }
  .vector{
    height: 30vh !important;
  }


}

